:root {
  --peach-white: #fef8f5;
  --peach-20: #fff0ea;
  --peach-50: #ffe8df;
  --peach-100: #ffe1d6;
  --peach-200: #ffd4c4;
  --peach-300: #fbc5b1; // ovo sam ja dodo
  --peach-400: #ffbca3; // bivsa 300
  --peach-500: #f6b094; // logo color - NEMA BOJU
  --peach-600: #d4947d;
  --peach-700: #a8715d;

  --burg-200: #f3c8c8;
  --burg-500: #d68585;
  --burg-600: #c66c6c;
  --burg-700: #773838;
  --burg-800: #491d1d;

  --brown-800: #553b31;
  --brown-900: #3d1f14;

  --peach-white-opaque: hsla(17, 100%, 96%, 40%);
  --burg-500-opaque: hsla(0, 50%, 68%, 35%);
  --burg-600-opaque: rgba(198, 108, 108, 0.3);
  --burg-700-opaque: rgba(118, 55, 55, 0.5);

  --white-opaque: hsla(0, 0%, 100%, 0.25);

  --border-radius-lg: 8px;
  --border-radius: 6px;
  --border-radius-sm: 4px;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-md: 18px;
  --text-lg: 20px;
  --text-xl: 22px;
  --text-2xl: 24px;
  --text-3xl: 28px;
  --text-4xl: 32px;
  --text-5xl: 36px;
  --text-6xl: 48px;
  --text-7xl: 64px;
  --text-8xl: 88px;

  --font-display: 'BioRhyme', serif;
  --font-primary: 'Dosis', sans-serif;

  --nav-height: 60px;
  --row-width: 1600px;

  --box-shadow-peach: 0 8px 20px 2px hsla(16, 100%, 82%, 0.3);
  --box-shadow-peach-sm: 0 2px 6px hsla(16, 100%, 82%, 0.3);

  --bg-img-pattern-1: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(3) rotate(15)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 43%, 20%, 1)'/><path d='M0 0h10v20H0zM30 0v10H10V0zM10 10h10v20H10zM40 10v10H20V10zM20 20h10v20H20zM50 20v10H30V20zM30 30h10v20H30zM20 30v10H0V30zM10 20v10h-20V20zM30-10h10v20H30z'  stroke-width='6.5' stroke='hsla(17, 84%, 77%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

  --bg-img-pattern-1-sm: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(15)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 43%, 20%, 1)'/><path d='M0 0h10v20H0zM30 0v10H10V0zM10 10h10v20H10zM40 10v10H20V10zM20 20h10v20H20zM50 20v10H30V20zM30 30h10v20H30zM20 30v10H0V30zM10 20v10h-20V20zM30-10h10v20H30z'  stroke-width='6.5' stroke='hsla(17, 84%, 77%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

  --bg-img-pattern-2: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='80' patternTransform='scale(3) rotate(140)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(16, 100%, 82%, 1)'/><path d='M-10 7.5l20 5 20-5 20 5'  stroke-linejoin='round' stroke-linecap='round' stroke-width='6' stroke='hsla(16, 50%, 66%, 1)' fill='none'/><path d='M-10 27.5l20 5 20-5 20 5'  stroke-linejoin='round' stroke-linecap='round' stroke-width='6' stroke='hsla(0, 50%, 68%, 1)' fill='none'/><path d='M-10 47.5l20 5 20-5 20 5'  stroke-linejoin='round' stroke-linecap='round' stroke-width='6' stroke='hsla(0, 43%, 20%, 1)' fill='none'/><path d='M-10 67.5l20 5 20-5 20 5'  stroke-linejoin='round' stroke-linecap='round' stroke-width='6' stroke='hsla(0, 36%, 34%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");

  --bg-img-pattern-3: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(1) rotate(15)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(16, 50%, 66%, 1)'/><path d='M0 0h10v20H0zM30 0v10H10V0zM10 10h10v20H10zM40 10v10H20V10zM20 20h10v20H20zM50 20v10H30V20zM30 30h10v20H30zM20 30v10H0V30zM10 20v10h-20V20zM30-10h10v20H30z'  stroke-width='6.5' stroke='hsla(16, 100%, 88%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");


  --bg-img-pattern-4: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(3) rotate(80)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 43%, 20%, 1)'/><path d='M40 45a5 5 0 110-10 5 5 0 010 10zM0 45a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm40 0a5 5 0 110-10 5 5 0 010 10z'  stroke-width='9' stroke='hsla(0, 50%, 68%, 1)' fill='none'/><path d='M20 25a5 5 0 110-10 5 5 0 010 10z'  stroke-width='9' stroke='hsla(16, 100%, 82%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
}
